.section1{
    padding: 50px 270px 50px 140px;
}

.section1 h1{
    font-size: 38px;
    color: var(--black);
    font-weight: 600;
    margin: 10px 0;
}

.section1 p{
    font-weight: 400;
    color: var(--secondary);
    font-size: 100%;
    margin: 10px 0;
}

.section1 a{
    font-weight: 400;
    font-size: 100%;
    margin: 10px 0;
}

.section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .section1{
        padding: 50px 200px  50px 0;
    }
    .section1 h1{
        font-size: 30px;
    }
    .section1 p, .section1 a{
        font-size: 92%;
    }
    .section2{
        padding: 40px 0;
    }
}

@media screen and (max-width: 1000px) {
    .section2{

    }
}
    
@media screen and (max-width: 786px) {
    .section1{
        padding: 30px 0;
    }
    .section1 h1{
        font-size: 24px;
    }
    .section1 p, .section1 a{
        font-size: 85%;
    } 
} 
