.background{
    /* background-color: rgb(240, 240, 255); */
    /* width: 100vw; */
    background-color: white;
    overflow-y: overlay !important;    

}

.body{
    padding: 50px;
    margin: 0 auto;
    background-color: white;
    overflow-y: overlay !important;    

}

@media screen and (max-width: 1200px) {
    .body{
        max-width:1020px;
        width: calc(100% - 40px);
    }
    .background{
        width: 100%;
    }
}
    
@media screen and (max-width: 1020px) {
    .body{
        width:calc(100% - 100px);
    }
} 

@media screen and (max-width: 553px) {
    .body{
        margin: 0;
        width: calc(100% - 40px);
        padding: 20px;
    }
}
    

