.background{
    /* background-color: rgb(240, 240, 255); */
    /* width: 100vw; */
    background-color: white;
    overflow-y: overlay !important;    

}

.body{
    padding: 80px;
    /* margin: 0 auto; */
    background-color: white;
    /* overflow-y: overlay !important;     */

}

@media screen and (max-width: 1200px) {
    .body{
        max-width:1020px;
    }
    .background{
        width: 100%;
    }
}
    
@media screen and (max-width: 1020px) {
    
} 

@media screen and (max-width: 553px) {
    .body{
        margin: 0;
        padding: 20px;
    }
}
    

