.container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
}

.name{
    font-size: 2.2rem;
    color: var(--primary);
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.5rem;
}

.image{
    height: 100px;
    width: auto;
}

.logo{
    cursor: pointer;
}

.text{
    font-weight: 600;
    font-family: "Dosis", sans-serif;
}

.tagline{
    font-size: 0.75rem;
    color: var(--secondary);
    font-weight: 400;
    margin-left: 1rem;
    text-align: left;
    text-transform: capitalize;
    line-height: 1rem;
    font-family: 'Inter', sans-serif;
}

.h1{
    font-size: 1rem;
    color: var(--black);
    text-align: right;
    text-transform: capitalize;
    line-height: 1.5rem;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}

.h2{
    font-size: 0.75rem;
    color: var(--secondary);
    text-align: right;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1rem;
}

@media screen and (max-width: 1200px) {

    .image{
        height: 80px;
    }

}
    
@media screen and (max-width: 1020px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 1rem;
    }
    .h1, .h2{
        text-align: center;
    }
    
}

@media screen and (max-width: 1020px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 1rem;
    }
    .h1, .h2{
        text-align: center;
    }
    
}
    
@media screen and (max-width: 786px) {
    .tagline{
        margin: 0;
        text-align: center;
    }
    .name{
        margin: 0 0 10px 0;
        text-align: center;
    }
    .container div div{
        justify-content: center;
    }
    .image {
        margin-bottom: 10px;
    }
    .container div{
        margin: 0 auto;
    }
}

@media screen and (max-width: 786px) {
    .name{
        font-size: 2rem;
        margin-bottom: 10px !important;
    }
    .tagline{
        font-size: 0.75rem;
    }
}