.head h1{
    font-size: 52px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.head p, .head ul, .head li{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin: 5px 0;
    font-family: 'Inter', sans-serif;
}

.profile_pic{
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 30px 20px 0;
}

.container{
    padding: 0 40px 40px 40px
}

.OGU img, .EAU img, .AND img, .OGRO img{
    filter: grayscale(100%) opacity(0.5);
    transition-duration: 0.5s;
    transition-property: filter;
    transition-timing-function: ease;
}

.OGU img:hover, .EAU img:hover, .AND img:hover, .OGRO img:hover{
    filter: grayscale(0%) opacity(1);
}

.OGU img,  .EAU img{
    margin: 40px 20px;
    width: 150px;
    height: auto;
}

.AND img{
    margin: 40px 20px;
    width: 200px;
    height: auto;

}

.OGRO img{
    margin: 20px;
    width: 150px;
    height: auto;
}

.logos > div {
    width: 300px;
}

.pubtitle{
    font-weight: 500 !important;
    font-style: italic;
}

.pubauth{
    font-size: 12px !important;
    margin-bottom: 50px !important;
}

@media screen and (max-width: 768px){
    .profile_pic{
        max-width: 300px;
        width: 100%;
        max-height: auto;
        aspect-ratio: 1/1;
        margin: 0 auto;
        float:none;
        object-position: top;
    }
    .head h1{
        font-size: 28px;
    }
    .head p, .head ul, .head li{
        font-size: 14px;
    }
    .container{
        padding: 0 20px 20px 20px
    }

    .OGU img, .EAU img, .AND img, .OGRO img{
        filter: grayscale(0%) opacity(1);

    }
}
    
