

.head h1{
    font-size: 34px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.head p, .head ul, .head li{
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin: 5px 0;
    font-family: 'Inter', sans-serif;
}

.profile_pic{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    float: left;
    margin: 0 30px 20px 0;
}

.container{
    padding: 0 40px 40px 40px
}

.logos img{
    margin: 20px;
    width: 200px;
    height: auto;
}

@media screen and (max-width: 768px){
    .profile_pic{
        width: 100%;
        height: 100%;
        margin: 0;
        float:none;
    }
    .head h1{
        font-size: 28px;
    }
    .head p, .head ul, .head li{
        font-size: 14px;
    }
    .container{
        padding: 0 20px 20px 20px
    }
}
    
