.container{
    width: 420px;
    height: auto;
}

.container h2{
    font-size: 22px;
    color: var(--black);
    font-weight: 500 ;
    margin: 10px 0 ;
}

.container p{
    font-size: 100%;
    color: var(--secondary);
    font-weight: 400;
    margin: 0;
}

.container a{
    font-size: 100%;
    font-weight: 400;
    margin: 10px 0;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 320px;
        height: auto;
    }
}